<div class="main-content">
    <div class="container">
        <h1>Who am I?</h1>
        I am Zbigniew, a 18-year-old IT student,
        with passion for creating video games, server software
        and software for embeded devices and microcontrollers.
    </div>

    <div class="container">
        <h1>My education</h1>
        I am currently a student at a technical school,
        majoring in computer science. I have already gained
        two certificates and will be applying for another next year.
    </div>

    <div class="container">
        <h1>My presonality</h1>
        I am creative, respectful, and sociable. Furthermore
        I consider myself to be a hard-working and ambitious person
        who is always looking for ways to improve myself.
    </div>

    <div class="wide-container">
        <h1>My certificates</h1>
        INF 02 - Administration and operation of computer systems, peripherals and local area networks. <br>
        UC-e25c9ded-5842-4bdf-8247-6707e380658d - Creating desktop applications using DirectX API.
    </div>
</div>