<div class="main-content">
    <div class="wide-container">
        <h1>Contact and social media</h1>
        <ul>
            <li>Phone: +48570213412</li>
            <li>E-mail: zprzybyla@tuta.io</li>
            <li>Facebook/Messenger: Zbigniew Przybyła</li>
            <li>Discord: shadowgamer3301</li>
        </ul>
    </div>


</div>