<div class="main-content">
    <div class="container">
        <h1>Zbigniew Przybyła</h1>
        <ul>
            <li>Devloper</li>
            <li>Administrator</li>
            <li>Graphics desginer</li>
        </ul>
    </div>
</div>