<div class="main-content">
    <div class="container">
        <h1>My skills</h1>
        While I am still learning, here is a brief
        summary of the skills I already have.
    </div>

    <div class="container">
        <h1>Web development</h1>
        <ul>
            <li>Creating interactive and responsive webisites</li>
            <li>Editing of existing websites according to customer needs</li>
        </ul>
    </div>

    <div class="container">
        <h1>Game development</h1>
        <ul>
            <li>Knowledge of popular industry software (for example: Unreal Engine, Unity, CryEngine, Godot)</li>
            <li>Ability to create simple prototypes using industry tools</li>
            <li>Knowledge of shader languages (GLSL and HLSL)</li>
            <li>Knowledge of optimisation techniques</li>
        </ul>
    </div>

    <div class="container">
        <h1>Other</h1>
        <ul>
            <li>Administration of FTP and HTTPS servers using GNU/Linux or OpenBSD</li>
            <li>Basic knowledge of reverse engineering and data mining</li>
            <li>Ability to create simple animations using Blender or Autodesk Maya</li>
            <li>Ability to edit videos using KdenLive or Adobe Premiere Pro</li>
            <li>Basic knowledge of Adobe Photoshop and Ilustrator</li>
        </ul>
    </div>
</div>